<div>
    <h2 id="page-heading">
        <span>Smiley Ratings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-smiley-rating" [routerLink]="['/smiley-rating/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Smiley Rating
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="smileyRatings?.length === 0">
        <span>No smileyRatings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="smileyRatings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rating"><span>Rating</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
<!--                - put in fragments file?-->
                <tr *ngFor="let smileyRating of smileyRatings ; trackBy: trackId">
                    <td><a [routerLink]="['/smiley-rating', smileyRating.id, 'view']">{{ smileyRating.id }}</a></td>
                    <td>{{smileyRating.rating}}
                        <div *ngIf="smileyRating.rating == 'HAPPY'">
                            <span><fa-icon class="ng-fa-icon" icon="smile" ng-reflect-icon="smile"> <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="smile" class="svg-inline&#45;&#45;fa fa-smile fa-w-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg></fa-icon></span>
                        </div>
                        <div *ngIf="smileyRating.rating == 'NEUTRAL'">
                            <span><fa-icon class="ng-fa-icon" icon="meh" ng-reflect-icon="meh"> <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="meh" class="svg-inline&#45;&#45;fa fa-smile fa-w-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg></fa-icon></span>
                        </div>
                        <div *ngIf="smileyRating.rating == 'SAD'">
                            <span><fa-icon class="ng-fa-icon" icon="sad-cry" ng-reflect-icon="sad-cry"> <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sad-cry" class="svg-inline&#45;&#45;fa fa-smile fa-w-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg></fa-icon></span>
                        </div>
                        <div *ngIf="smileyRating.rating == 'ANGRY'">
                            <span><fa-icon class="ng-fa-icon" icon="angry" ng-reflect-icon="angry"> <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angry" class="svg-inline&#45;&#45;fa fa-smile fa-w-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg></fa-icon></span>
                        </div>
                    </td>
                    <td>
                        {{ smileyRating.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/smiley-rating', smileyRating.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/smiley-rating', smileyRating.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(smileyRating)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="smileyRatings?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
